{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'Hotels'|trans %}

{#% block navButtons %}
    {% if resource_granted('szkla_test.hotel_view') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('szkla_test.hotel_create'),
                'entity_label': 'Hotel'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %#}
